body, html {
  height: 100%;
  margin: 0;
  font-family: "Comic Sans MS", cursive
}
.tablink {
  background-color: magenta;
  color: cyan;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-family: "Comic Sans MS", cursive;
  font-size: 17px;
  width: 25%;
}
.tablink:hover {
  background-color: #777;
}
.saltmine{
	color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  cursor:url(Kripp.png), pointer;
}
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Docking {background-color: #6600ff;}
#AYAYA {background-color: DeepPink;}
#Saltmine {background-color: white;
		background-image: url("salt.jpg");
		cursor:url(Kripp.png), pointer;}
#JoJo {background-color: yellow;
        background-image: url("OMG MY WIFE JUST DIVORCED ME.jpg")	}
#Escalation {background-color: mediumaquamarine;}
